{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <style>
        @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

        form {
            font-family: "Quicksand", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #111;
            width: 100%;
            overflow: hidden;
        }

        .ring {
            position: relative;
            width: 500px;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ring i {
            position: absolute;
            inset: 0;
            border: 2px solid #fff;
            transition: 0.5s;
        }

        .ring i:nth-child(1) {
            border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
            animation: animate 6s linear infinite;
        }

        .ring i:nth-child(2) {
            border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
            animation: animate 4s linear infinite;
        }

        .ring i:nth-child(3) {
            border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
            animation: animate2 10s linear infinite;
        }

        .ring:hover i {
            border: 6px solid var(--clr);
            filter: drop-shadow(0 0 20px var(--clr));
        }

        @keyframes animate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes animate2 {
            0% {
                transform: rotate(360deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }

        .login {
            position: absolute;
            width: 300px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }

        .login h2 {
            font-size: 2em;
            color: #fff;
        }

        .login .inputBx {
            position: relative;
            width: 100%;
        }

        .login .inputBx input, .login .inputBx button {
            position: relative;
            width: 100%;
            padding: 12px 20px;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 40px;
            font-size: 1.2em;
            color: #fff;
            box-shadow: none;
            outline: none;
        }

        .login .inputBx button[type="submit"] {
            width: 100%;
            background: #0078ff;
            background: linear-gradient(45deg, #ff357a, #fff172);
            border: none;
            cursor: pointer;
        }

        .login .inputBx input::placeholder {
            color: rgba(255, 255, 255, 0.75);
        }

        .login .links {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
        }

        .login .links a {
            color: #fff;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="backgroundImageContainer">
        <img src="{{ asset('img/homePage/home.png') }}" alt="salon" class="backgroundImage"/>
    </div>

    <div class="">
        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="ring">
                <i style="--clr:#00ff0a;"></i>
                <i style="--clr:#ff0057;"></i>
                <i style="--clr:#fffd44;"></i>

                <div class="login">
                    <h2 class="h3 mb-3 font-weight-normal">Connection</h2>
                    <label for="username" class="inputBx">
                        <input type="email" value="{{ last_username }}" name="_username" id="username" autocomplete="email" placeholder="Mon email" required autofocus>
                    </label>
                    <label for="password" class="inputBx">
                        <input type="password" name="_password" id="password" class="inputBx" autocomplete="current-password" placeholder="mot de passe" required>
                    </label>


                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label class="inputBx">
                            <input type="checkbox" name="_remember_me"> Rester connecter
                        </label>
                    </div>

                    #}
                    <div class="inputBx">
                        <button type="submit">
                            Se connecter
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
