{% extends 'base.html.twig' %}

{% block title %}{{ 'reservation.title' | trans }} {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('prereserv') }}
   <script>
        console.log('Scripts chargés');
    </script>
    <script>
        const bookeds = {{ reserved|json_encode|raw }}
        let reserved = []
        
        bookeds.map((e) => {
            reserved.push({'startDate': new Date(e.startDate), endDate: new Date(e.endDate)})
        })
        window.locale = '{{ app.request.locale }}';
    </script>     
{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/gitePage/gite.webp') }}" alt="gite" class="backgroundImage"/>
            <div class="buttonContainer"></div>
        </div>

        <h2 class="mt-2">{{ 'reservation.title' | trans }} </h2>
        <div class="d-flex justify-content-center">
            <hr class="separator"/>
        

        </div>

        <section class="container-fluid" id="presreserv">
        </section>
        <div id="reservation"></div>

        {{ encore_entry_script_tags('app') }}
    </main>
{% endblock %}
