{% extends 'base.html.twig' %}

{% block title %}{{ 'magazine.archi.archi.header' | trans }}{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/magazinePage/famille/home.png') }}" alt="gite famille" class="backgroundImage" />
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>
                {#---------------cadre---------------#}
                        <h2 class="mt-2 mx-5 d-flex text-center">
                           {{ 'magazine.archi.archi.title' | trans }}
                            <br />{{ 'magazine.archi.archi.title1' | trans }}
                        </h2>
                        <div class="d-flex justify-content-center">
                            <hr class="separator" />
                        </div>


            {#---------------cadre presentation--------------#}
        
               <div class="p-3 mx-3">      
                    <div class="container-fluid ">
                        <div class="row my-2 mx-1 justify-content-around">

                        {#-----------------bloc1---------------#}
                         <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/salon02.webp') }}"
                                    alt="espace spacieux detente"
                            ></img>
                            <div class="Espace Spacieux">
                                <h3 class="card-title">{{ 'magazine.archi.archi.title2' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.archi.archi.text21' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                         {#-----------------bloc2---------------#}
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosext/maison-ext06.webp') }}"
                                    alt="Maison atypique"
                            ></img>
                            <div class="Maison Atypique">
                                <h3 class="card-title">{{ 'magazine.archi.archi.title3' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.archi.archi.text31' | trans }}
                                 </p>
                         </div>
                       </div>
                        </div>
                          
                         {#-----------------bloc3---------------#}
                         <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosext/maison-ext07.webp') }}"
                                    alt="securité"
                            ></img>
                            <div class="volume securisé">
                                <h3 class="card-title">{{ 'magazine.archi.archi.title4' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.archi.archi.text41' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                        {#-----------------bloc4---------------#}
                         <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/salon02.webp') }}"
                                    alt=""
                            ></img>
                            <div class="Calme et Localisation">
                                <h3 class="card-title">{{ 'magazine.archi.archi.title5' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                   {{ 'magazine.archi.archi.text51' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                         </div>

                        {#-----------------bloc5---------------#}
                         <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/homePage/home.png') }}"
                                    alt=""
                            ></img>
                            <div class="Lieu de Tournage Nature Disponible">
                                <h3 class="card-title">{{ 'magazine.archi.archi.title6' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                   {{ 'magazine.archi.archi.text61' | trans }}
                                </article>
                            </div>
                        </div>
                        </div>
               
                     {#-----------------fin bloc---------------#}
                    </div> 
                     </div>
                     </div>
                {#-----------------fin---------------#}
                <article>
                        <b class="d-flex justify-content-center text-center pb-2">
                           {{ 'magazine.archi.archi.textbottom1' | trans }}
                            <br /> {{ 'magazine.archi.archi.textbottom2' | trans }}
                        </b>
                   
                        <div class="d-flex justify-content-center my-2">
                            {{ include('reservation/boutonReservation.twig') }}
                        </div>
                </article>
               
    </main>
{% endblock %}