{% extends 'base.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/magazinePage/famille/home.png') }}" alt="gite famille" class="backgroundImage" />
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>
                {#---------------cadre---------------#}
                        <h2 class="mt-2 mx-5 d-flex text-center">
                           Découvrez notre Gîte avec ses volumes, son architecture, 
                            <br />sa localité et ses espaces sécurisés dans le sud de la France
                        </h2>
                        <div class="d-flex justify-content-center">
                            <hr class="separator" />
                        </div>


            {#---------------cadre presentation--------------#}
        
             {#    <div class="p-3 mx-3">      #}
                    <div class="container-fluid ">
                        <div class="row my-2 mx-1 justify-content-around">

                        {#-----------------bloc1---------------#}
                        <article class="cadre col-md-2 mb-2">
                        <div class="d-flex justify-content-center">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/salon02.webp') }}"
                                    alt="espace spacieux detente"
                            ></img>
                            <div class="Espace Spacieux">
                                <h3 class="card-title">Espace Spacieux</h3>
                                <article>
                                <p class="card-text">
                                    Le Gîte offre un espace généreux pour accueillir votre groupe de 12 personnes. Nos vastes intérieurs vous permettent de vous étendre et de vous détendre en toute tranquillité.
                                </p>
                                </article>
                            </div>
                        </div>
                        </article>

                         {#-----------------bloc2---------------#}
                        <article class="cadre col-md-2 mb-2">
                        <div class="d-flex justify-content-center">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosext/maison-ext06.webp') }}"
                                    alt="Maison atypique"
                            ></img>
                            <div class="Maison Atypique">
                                <h3 class="card-title">Maison Atypique</h3>
                                <article>
                                <p class="card-text">
                                    Conçue par un architecte, notre maison se distingue par son design unique et son caractère distinctif. Vous serez charmé par ses détails architecturaux originaux.                               
                                 </p>
                         </div>
                        </article>
                          
                         {#-----------------bloc3---------------
                        <div class="card" style="width: 18%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosext/maison-ext07.webp') }}"
                                    alt="securité"
                            ></img>
                            <div class="volume securisé">
                                <h3 class="card-title">Volume Sécurisé</h3>
                                <article>
                                <p class="card-text">
                                    Votre sécurité est notre priorité. Notre gîte est équipé d'un système de sécurité sophistiqué pour assurer la tranquillité d'esprit de nos hôtes.
                                </p>
                                </article>
                            </div>
                        </div>

                        {#-----------------bloc4---------------
                        <div class="card" style="width: 18%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/salon02.webp') }}"
                                    alt=""
                            ></img>
                            <div class="Calme et Localisation">
                                <h3 class="card-title">Calme et Localisation</h3>
                                <article>
                                <p class="card-text">
                                   Niché dans un environnement calme et préservé, L'étoile de Dan offre un cadre idyllique pour une escapade relaxante. Profitez de la tranquillité de la nature tout en étant à proximité des attractions locales.
                                </p>
                                </article>
                            </div>
                        </div>

                        {#-----------------bloc5---------------
                        <div class="card" style="width: 18%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/homePage/home.png') }}"
                                    alt=""
                            ></img>
                            <div class="Lieu de Tournage Nature Disponible">
                                <h3 class="card-title">Lieu de Tournage</h3>
                                <article>
                                <p class="card-text">
                                    Notre gîte offre un décor naturel spectaculaire pour tout projet de tournage. Que vous soyez un cinéaste professionnel ou un amateur passionné, notre gîte est l'endroit parfait pour donner vie à votre vision.                                
                                </p>
                                </article>
                            </div>
                        </div>
               
                     {#-----------------fin bloc---------------#}
                    {#-  </div> #}
                     </div>
                     </div>
                {#-----------------fin---------------#}
                <article>
                        <b class="d-flex justify-content-center text-center pb-2">
                           De plus sa localisation permet un rayonnement sur les différents site de la région
                            <br /> (entre Les cevennes, Montpellier, Nimes et la mer).
                        </b>
                   
                        <div class="d-flex justify-content-center my-2">
                            {{ include('reservation/boutonReservation.twig') }}
                        </div>
                </article>
               
    </main>
{% endblock %}