{% extends 'base.html.twig' %}

{% block title %}{{ 'footer.cgu.title' | trans }}{% endblock %}

{% block body %}
    <div>
        <img src="{{ asset('img/cgu.jpg')}}" class="backgroungImage" alt="salon" />
    </div>
    <h2 class="mt-2">
        {{ 'footer.cgu.title' | trans }}
    </h2>
    <div class="card pt-3 m-5 p-4">
        <h3 class="card-subtitle">{{ 'footer.cgu.title1' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text1' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.cgu.title2' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text2' | trans }}
        </p>
        <h3 class="card-subtitle">
            {{ 'footer.cgu.title3' | trans }}
        </h3>
        <p class="card-text">
            {{ 'footer.cgu.text3' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.cgu.title4' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text4' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.cgu.title5' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text5' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.cgu.title6' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text6' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.cgu.title7' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text7' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.cgu.title8' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text8' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.cgu.title9' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.cgu.text9' | trans }}
        </p>
        <p class="card-text">
            {{ 'footer.cgu.text10' | trans }}
        </p>
    </div>
{% endblock %}
