{% extends 'base.html.twig' %}

{% block title %}{{ 'magazine.familly.family.header' | trans }}{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/magazinePage/famille/home.png') }}" alt="gite famille" class="backgroundImage" />
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>
                {#---------------cadre---------------#}
                        <h2 class="mt-2 mx-5 d-flex text-center">
                            {{ 'magazine.familly.family.title11' | trans }}
                            <br />{{ 'magazine.familly.family.title12' | trans }}
                        </h2>
                        <div class="d-flex justify-content-center">
                            <hr class="separator" />
                        </div>

                {#---------------cadre presentation--------------#}
                 <div class="p-3 mx-3">
                    <div class="container-fluid py-2">
                        <div class="row my-2 mx-1 justify-content-around">
                         

                        {#-----------------bloc1---------------#}
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/chambre01-1.webp') }}"
                                    alt="luxe confort espace"
                            ></img>
                            <div class="gite luxe">
                                <h3 class="card-title">{{ 'magazine.familly.family.title2' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.familly.family.text21' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                         {#-----------------bloc2---------------#}
                         <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosext/jardin-ext03.webp') }}"
                                    alt="jardin"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">{{ 'magazine.familly.family.title3' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.familly.family.text31' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                         {#-----------------bloc3---------------#}
                         <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/piscine03.webp') }}"
                                    alt="piscine interieur"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">{{ 'magazine.familly.family.title4' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.familly.family.text41' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                        {#-----------------bloc4---------------#}
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/salon02.webp') }}"
                                    alt="salon"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">{{ 'magazine.familly.family.title5' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.familly.family.text51' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>
               
                     {#-----------------fin bloc---------------#}
                     </div>
                     </div>
                     </div>
                {#-----------------fin---------------#}
                <article>
                        <b class="d-flex justify-content-center text-center pb-2">
                            {{ 'magazine.familly.family.textbottom1' | trans }}
                            <br />  {{ 'magazine.familly.family.textbottom2' | trans }}
                            <br />  {{ 'magazine.familly.family.textbottom3' | trans }}
                        </b>
                   
                        <div class="d-flex justify-content-center my-2">
                            {{ include('reservation/boutonReservation.twig') }}
                        </div>
                </article>
               
    </main>
{% endblock %}