{% extends 'base.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/magazinePage/famille/home.png') }}" alt="gite famille" class="backgroundImage" />
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>
                {#---------------cadre---------------#}
                        <h2 class="mt-2 mx-5 d-flex text-center">
                            Bienvenue dans votre oasis de tranquillité et de luxe au cœur de la campagne. 
                            <br />Notre gîte prestigieux offre une expérience incomparable, combinant confort somptueux et divertissements haut de gamme pour des vacances inoubliables
                        </h2>
                        <div class="d-flex justify-content-center">
                            <hr class="separator" />
                        </div>

                {#---------------cadre presentation--------------#}
                 <div class="p-3 mx-3">
                    <div class="container-fluid py-2">
                        <div class="row my-2 mx-1 justify-content-around">
                         

                        {#-----------------bloc1---------------#}
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/chambre01-1.webp') }}"
                                    alt="luxe confort espace"
                            ></img>
                            <div class="gite luxe">
                                <h3 class="card-title">Luxe, Confort, et Espace</h3>
                                <article>
                                <p class="card-text">
                                    Découvrez le summum du raffinement dans nos chambres spacieuses et élégamment décorées, 
                                    conçues pour accueillir jusqu'à 12 personnes en toute intimité. Profitez d'une atmosphère chaleureuse et accueillante où chaque détail a été soigneusement pensé pour votre confort ultime.
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                         {#-----------------bloc2---------------#}
                         <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosext/jardin-ext03.webp') }}"
                                    alt="jardin"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">Évasion en Pleine Nature</h3>
                                <article>
                                <p class="card-text">
                                    Notre gîte isolé vous offre un refuge loin du tumulte de la vie urbaine, niché dans un cadre naturel préservé. Plongez-vous dans la tranquillité de la campagne, où seules les douces brises et les chants des oiseaux viennent perturber votre sérénité.
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                         {#-----------------bloc3---------------#}
                         <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/piscine03.webp') }}"
                                    alt="piscine interieur"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">Divertissements Haut de Gamme</h3>
                                <article>
                                <p class="card-text">
                                    Plongez dans le luxe absolu avec notre gamme complète d'équipements de loisirs haut de gamme. Détendez-vous dans notre jacuzzi privé, rafraîchissez-vous dans notre piscine interieure avec vue sur le jardin ou défiez vos amis dans une partie animée de billard dans notre salle de jeux bien équipée.
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                        {#-----------------bloc4---------------#}
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/carousel/photosint/salon02.webp') }}"
                                    alt="salon"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">Tout Compris, Tout Personnalisé</h3>
                                <article>
                                <p class="card-text">
                                    Votre confort est notre priorité absolue. Profitez de notre formule tout compris, avec des services sur mesure adaptés à vos besoins. Que vous souhaitiez organiser une fête inoubliable ou simplement vous détendre en famille, notre équipe dévouée est là pour rendre votre séjour aussi parfait que possible.                                
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>
               
                     {#-----------------fin bloc---------------#}
                     </div>
                     </div>
                     </div>
                {#-----------------fin---------------#}
                <article>
                        <b class="d-flex justify-content-center text-center pb-2">
                            Offrez-vous le luxe et la détente que vous méritez dans notre gîte exclusif.
                            <br /> Réservez dès aujourd'hui pour garantir votre escapade idyllique au cœur de la campagne entre les cevennes et la mer. 
                            <br /> Contactez-nous pour plus d'informations et pour réserver vos dates dès maintenant.
                        </b>
                   
                        <div class="d-flex justify-content-center my-2">
                            {{ include('reservation/boutonReservation.twig') }}
                        </div>
                </article>
               
    </main>
{% endblock %}