{% extends 'base.html.twig' %}

{% block title %}{{ 'informations.title' | trans }}{% endblock %}

{% block body %}
	<main>
		<div class="backgroundImageContainer">
			<img src="{{ asset('img/informationsPage/informations.png') }}" alt="tourisme" class="backgroundImage" title="Photo logo informations" loading="eager"/>

        <h2 class="mt-2">{{ 'informations.title' | trans }}</h2>
        <div class="d-flex justify-content-center">
            <hr class="separator" />
        </div>

{#------------------Presentation 1ere ligne----------------#}
        <div class="container-fluid">
            <div class="row justify-content-around mx-1">
            
    {#---------------Tarif---------------#}
                <div class="cadre .col-6 col-md-5 pt-2 mb-2">
                    <div class="justify-content-center">
                        
                            <h3 class="d-flex justify-content-start" style="text-decoration:underline; mb-2">
                            {{ 'informations.price.price' | trans }}
                            </h3>

                        {#---------------hors saison---------------#}
                            <article class="cadre p-2 my-3">
                                <b>
                                    <u>{{ 'informations.price.text1' | trans }}</u>
                                </b>
                                <p>
                                {{ 'informations.price.text2' | trans }}<b> 3000 TTC / 2500 HT</b>
                                </p>
                                <p>
                                    {{ 'informations.price.text3' | trans }}
                                    <br /> {{ 'informations.price.text4' | trans }}<b> 2000€ TTC / 1667 HT</b>
                                </p>
                             </article>

                        {#--------------basse saison---------------#}
                            <article class=" cadre p-2 my-3">
                                <b>
                                    <u>{{ 'informations.price.text5' | trans }}</u>
                                </b>
                                <p>
                                {{ 'informations.price.text6' | trans }} <b> 3600€ TTC / 3000€ HT</b>
                                </p>
                                <p>
                                {{ 'informations.price.text7' | trans }}
                                <br />{{ 'informations.price.text8' | trans }}<b> 2700€ TTC / 2250€ HT</b>
                                </p>
                            </article>


                        {#---------------pleine saison---------------#}
                            <article class="cadre p-2 my-3">
                                <b>
                                    <u>{{ 'informations.price.text9' | trans }}</u>
                                </b>
                                <p>
                                {{ 'informations.price.text10' | trans }}<b> 3800€ TTC / 3167€ HT</b>
                                </p>
                                 <p>
                                   {{ 'informations.price.text11' | trans }}
                                    <br />{{ 'informations.price.text12' | trans }}<b> 2850€ TTC / 2375 HT</b>
                                </p>
                            </article>

                        {#---------------Tarif dégressif---------------#}
                            <article class="cadre p-2 my-3 d-flex justify-content-center"> 
                             <b> {{ 'informations.price.text13' | trans }}</b>
                            </article>
                        {#---------------fin---------------#}
                        
                    </div>
                </div>
             
               


    {#---------------Assurance---------------#}
                <div class="cadre .col-6 col-md-6 pt-2 mb-2">
                    <div class="d-flex justify-content-center">
                        <div>
                            <h3 class="d-flex justify-content-start" style="text-decoration:underline; mb-2">
                            {{ 'informations.assurance.title' | trans }}
                            </h3>
                            <img
                                    src="{{ asset('img/informationsPage/assurance.png') }}"
                                    alt=""
                                    style="
                                    width: 10em;
                                    float: left;
                                    shape-outside: margin-box;
                                    margin: 0 20px 5px 0;
                                    border-radius: 50%
                                    "
                            ></img>

                            <article class="mx-3">
                            <p>
                                <b>1</b> {{ 'informations.assurance.text1' | trans }}
                                <br/><b>2</b> {{ 'informations.assurance.text2' | trans }}
                                <br/><b>3</b> {{ 'informations.assurance.text3' | trans }}
                                <br/><b>4</b> {{ 'informations.assurance.text4' | trans }}
                                                <br/>{{ 'informations.assurance.text5' | trans }}
                                                <br/>{{ 'informations.assurance.text6' | trans }}
                                                <br/>{{ 'informations.assurance.text7' | trans }}
                                                <br/>{{ 'informations.assurance.text8' | trans }}
                                                <br/>{{ 'informations.assurance.text9' | trans }}
                                                <br/>{{ 'informations.assurance.text10' | trans }}
                                <br/><b>5</b>{{ 'informations.assurance.text11' | trans }}
                            </p>
                            </article>
                        </div>
                    </div>
                </div>

			{#---------------fin---------------#}
		</div>
	</div>


	{#        {/*------------------Presentation 2eme ligne----------------*/}#}
	<div class="container-fluid">
		<div
			class="row justify-content-around mx-1 my-2">

{#                {/*---------------Services de proximité---------------*/}#}
                <div class="cadre .col-6 col-md-5 pt-2">
                        <div>
                            <h3 class="d-flex justify-content-start" style="text-decoration:underline;">
                            {{ 'informations.services.title' | trans }}
                            </h3>
                            <img
                                    src="{{ asset('img/informationsPage/proximite.png') }}"
                                    alt=""
                                    style="
                                    width: 10em;
                                    float: right;
                                    shape-outside: margin-box;
                                    margin: 0 20px 5px 0;
                                    border-radius: 50%
                                    "
                            ></img>
                            <article class="m-2">
                                <p>
                                 {{ 'informations.services.text1' | trans }}
                                </p>
                            <section class="cadre p-2 my-3">
                                <a href="https://ot-sommieres.com/marches">{{ 'informations.services.link1' | trans }}</a>{{ 'informations.services.distance1' | trans }}
                                <br/>
                                <a href="">{{ 'informations.services.link2' | trans }}</a>{{ 'informations.services.distance2' | trans }}
                                <br/>
                                <a href="">{{ 'informations.services.link3' | trans }}</a>{{ 'informations.services.distance3' | trans }}
                                <br/>
                                <a href="https://www.carrefour.fr/magasin/market-villevieille">{{ 'informations.services.link4' | trans }}</a>{{ 'informations.services.distance4' | trans }}
                                <br/>
                                <a href="">{{ 'informations.services.link5' | trans }}</a>{{ 'informations.services.distance5' | trans }}
                                 <br/>
                                <a href="https://www.chateaudepondres.fr/le-restaurant/">{{ 'informations.services.link6' | trans }}</a>{{ 'informations.services.distance6' | trans }}
                                 <br/>
                                <a href="https://cafe-de-la-poste.net/">{{ 'informations.services.link7' | trans }}</a>{{ 'informations.services.distance7' | trans }}
                            </section>
                            </article>
{#                            {/*---------------fin---------------*/}#}
                        
                    </div>
                </div>


		{#                {/*---------------Galerie Photos---------------*/}#}
		<div class="cadre .col-6 col-md-6 py-2">

			<h3 class="d-flex justify-content-start" style="text-decoration:underline;">
				Galerie
			</h3>
			<div id="carouselExampleCaptions" class="carousel slide" style="max-width: 100%; max-height:100%; margin:auto; border-radius: 10px; overflow: hidden;">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
				</div>

{#                {/*---------------Galerie Photos---------------*/}#}
                <div class="cadre .col-6 col-md-6 py-2">
               
                         <h3 class="d-flex justify-content-start" style="text-decoration:underline;">
                            {{ 'informations.portfolio' | trans }}
                            </h3>
                        <div id="carouselExampleCaptions" class="carousel slide" style="max-width: 100%; max-height:100%; margin:auto; border-radius: 10px; overflow: hidden;">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                                </div>
                                
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                    <img src="{{ asset('/img/carousel/photosint/salon01.webp') }}" class="d-block w-100" alt="salon cuisine">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="{{ asset('/img/carousel/photosint/salon02.webp') }}" class="d-block w-100" alt="salon billard">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="{{ asset('/img/carousel/photosint/piscine01.webp') }}" class="d-block w-100" alt="salon salle à manger">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="{{ asset('/img/carousel/photosint/sallejeux01.webp') }}"class="d-block w-100" alt="salle de jeux">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="{{ asset('/img/carousel/photosint/chambre01-01.webp') }}" class="d-block w-100" alt="chambre">
                                    </div>
                                    <div class="carousel-item">
                                    <img src="{{ asset('/img/carousel/photosint/chambre02-PMR-03.webp') }}" class="d-block w-100" alt="pmr chambre">
                                    </div>
                                </div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>

		{#                {/*---------------fin---------------*/}#}
	</div>
</div></main>{% endblock %}
