{% extends 'base.html.twig' %}

{% block title %}Magazine{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/magazinePage/magazine.png') }}" alt="magazine" class="backgroundImage"/>
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>

        <h2 class="mt-2">Magazine</h2>
        <div class="d-flex justify-content-center">
            <hr class="separator"/>
        </div>

        <div class="container-fluid">
            <div class="row my-2 mx-1 justify-content-around">
                {#                {/*---------------PMR---------------*/} #}
                <div class="cadre col-md-3 mb-2">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('img/magazinePage/magazine1.png') }}" alt="hostellerie" class="presta-img"/>
                    </div>
                    <div>
                        <h3>
                            Découvrez notre Gîte Spacieux et Accessible aux Personnes à
                            Mobilité Réduite (PMR) dans le Gard entre Nîmes, Alès et
                            Montpellier
                        </h3>
                        <b class="m-2">Pourquoi choisir notre gîte ?</b>
                        <p class="m-2">
                            Notre gîte est spécialement conçu pour accueillir les
                            personnes à mobilité réduite, avec des aménagements adaptés
                            pour faciliter leur séjour et leur circulation.
                        </p>
                        <a class="btn-enSavoirPlus" href="{{ path('pmr') }}">
                            <span>En savoir plus</span>
                        </a>
                    </div>
                </div>

                {#                {/*---------------Architecture---------------*/} #}
                <div class="cadre col-md-3 mb-2">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('img/magazinePage/magazine2.png') }}" alt="hostellerie" class="presta-img"/>
                    </div>

                    <div>
                        <h3>
                            Découvrez notre Gîte avec ses volumes, son architecture, sa
                            localité et ses espaces sécurisés dans le sud de la France
                        </h3>
                        <b class="m-2">Pourquoi choisir notre gîte ?</b>
                        <p class="m-2">
                            Notre gîte est spécialement conçu pour accueillir les
                            personnes à mobilité réduite, avec des aménagements adaptés
                            pour faciliter leur séjour et leur circulation.
                        </p>
                    </div>

                    <div class="mt-5">
                        <a class="btn-enSavoirPlus" href="{{ path('gite') }}">
                            <span>En savoir plus</span>
                        </a>
                    </div>
                </div>

                {#                {/*---------------Architecture---------------*/} #}
                <div class="cadre col-md-3 mb-2">
                    <div class="d-flex justify-content-center">
                        <img src="{{ asset('img/magazinePage/magazine3.png') }}" alt="hostellerie" class="presta-img"/>
                    </div>
                    <div>
                        <h3>
                            Découvrez notre gîte haut de gamme, conçu pour offrir un
                            confort exceptionnel et luxueux à 12 personnes.
                        </h3>
                        <b class="m-2">Pourquoi choisir notre gîte ?</b>
                        <p class="m-2">
                            Notre gîte est spécialement conçu pour accueillir les
                            personnes à mobilité réduite, avec des aménagements adaptés
                            pour faciliter leur séjour et leur circulation.
                        </p>
                        <div class="mt-5">
                            <a class="btn-enSavoirPlus" href="{{ path('gite') }}">
                                <span>En savoir plus</span>
                            </a>
                        </div>
                    </div>
                </div>

                {#                {/*---------------fin---------------*/} #}
            </div>
        </div>
    </main>
{% endblock %}
