{% extends 'base.html.twig' %}

{% block title %}{{ 'magazine.title' | trans }}{% endblock %}

{% block body %}
	<main>
		<div class="backgroundImageContainer">
			<img src="{{ asset('img/magazinePage/magazine.png') }}" alt="magazine" class="backgroundImage" title="Photos magazine" loading="eager"/>
     <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>
        <div>
        <h2 class="mt-2">{{ 'magazine.title2' | trans }}</h2>
        <div class="d-flex justify-content-center">
            <hr class="separator"/>
        </div>

        <div class="container-fluid">
            <div class="row my-2 mx-1 justify-content-around">
                {#                {/*---------------PMR---------------*/} #}
                 <div class="cadre col-md-3 mb-2">
                    <div class="d-flex justify-content-center">
                        <img class="presta-img" 
                        src="/img/magazinePage/pmr.webp" 
                        alt="pmr gite etoile de dan" />
                       
                    </div>
                    <div>
                        <h3>
                            {{ 'magazine.pmr.text1' | trans }}
                        </h3>
                        <b class="m-2">{{ 'magazine.pmr.text2' | trans }}</b>
                        <p class="m-2">
                            {{ 'magazine.pmr.text3' | trans }}
                        </p>

                    <div class="mt-5">
                        <a class="btn-enSavoirPlus" href="{{ path('pmr') }}">
                            <span>{{ 'button.more' | trans }}</span>
                        </a>
                    </div>
                    </div>
                </div>

					</div>
					<div>
						<h3>
							Découvrez notre Gîte Spacieux et Accessible aux Personnes à
							                            Mobilité Réduite (PMR) dans le Gard entre Nîmes, Alès et
							                            Montpellier
						</h3>
						<b class="m-2">Pourquoi choisir notre gîte ?</b>
						<p class="m-2">
							Notre gîte est spécialement conçu pour accueillir les
							                            personnes à mobilité réduite, avec des aménagements adaptés
							                            pour faciliter leur séjour et leur circulation.
						</p>

                    <div>
                        <h3>
                            {{ 'magazine.archi.text1' | trans }}
                        </h3>
                        <b class="m-2">{{ 'magazine.pmr.text2' | trans }}</b>
                        <p class="m-2">
                           {{ 'magazine.archi.text3' | trans }}
                        </p>
                    </div>

                    <div class="mt-5">
                        <a class="btn-enSavoirPlus" href="{{ path('architecture') }}">
                            <span>{{ 'button.more' | trans }}</span>
                        </a>
                    </div>
                </div>

                {#                {/*---------------Famille---------------*/} #}
                <div class="cadre col-md-3 mb-2">
                    <div class="d-flex justify-content-center">
                         <img class="presta-img"
                         src="{{ asset('img/magazinePage/stefetvan.webp') }}" 
                         alt="famille" 
                         />
                    </div>
                    <div>
                        <h3>
                            {{ 'magazine.familly.text1' | trans }}
                        </h3>
                        <b class="m-2">{{ 'magazine.pmr.text2' | trans }}</b>
                        <p class="m-2">
                                   {{ 'magazine.familly.text3' | trans }}
                        </p>
                        <div class="mt-5">
                            <a class="btn-enSavoirPlus" href="{{ path('famille') }}">
                                <span>{{ 'button.more' | trans }}</span>
                            </a>
                        </div>
                    </div>
                </div>

					<div class="mt-5">
						<a class="btn-enSavoirPlus" href="{{ path('architecture') }}">
							<span>En savoir plus</span>
						</a>
					</div>
				</div>

				{#                {/*---------------Famille---------------*/} #}
				<div class="cadre col-md-3 mb-2">
					<div class="d-flex justify-content-center">
						<img class="presta-img" src="{{ asset('img/magazinePage/stefetvan.webp') }}" alt="famille"/>
					</div>
					<div>
						<h3>
							Découvrez notre gîte haut de gamme, conçu pour offrir un
							                            confort exceptionnel et luxueux à 12 personnes.
						</h3>
						<b class="m-2">Pourquoi choisir notre gîte ?</b>
						<p class="m-2">
							Découvrez le summum du raffinement dans nos chambres spacieuses et élégamment décorées, 
							                                    conçues pour accueillir jusqu'à 12 personnes en toute intimité. Profitez d'une atmosphère 
							                                    chaleureuse et accueillante où chaque détail a été soigneusement pensé pour votre confort ultime.
						</p>
						<div class="mt-5">
							<a class="btn-enSavoirPlus" href="{{ path('famille') }}">
								<span>En savoir plus</span>
							</a>
						</div>
					</div>
				</div>

				{#                {/*---------------fin---------------*/} #}
			</div>
		</div>
	</main>
{% endblock %}
