{% extends 'base.html.twig' %}

{% block title %}{{ 'footer.legalnotices.title' | trans }}{% endblock %}

{% block body %}
    <div>
        <img src="{{ asset('img/mentionsLegales.jpg') }}" class="backgroungImage" alt="salon" />
    </div>
    <h2>{{ 'footer.legalnotices.title' | trans }}</h2>
    <div class="card pt-3 m-5 p-4">
        <h3 class="card-subtitle">1. {{ 'footer.legalnotices.title' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text1' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title2' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text2' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title3' | trans }}</h3>
        <p class="card-text">
           {{ 'footer.legalnotices.text3' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title4' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text4' | trans }}
        </p>
        <h3 class="card-subtitle">
            {{ 'footer.legalnotices.title5' | trans }}
        </h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text5' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title6' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text6' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title7' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text7' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title8' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text8' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title9' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text9' | trans }}
        </p>
        <h3 class="card-subtitle">{{ 'footer.legalnotices.title10' | trans }}</h3>
        <p class="card-text">
            {{ 'footer.legalnotices.text10' | trans }}
        </p>
        <p class="card-text">{{ 'footer.legalnotices.text11' | trans }}.</p>
        <p class="card-text">M.BOURDEAU Anthony</p>
    </div>
{% endblock %}
