{% extends 'base.html.twig' %}

{% block title %}{{ 'magazine.pmr.pmr.header' | trans }}{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/magazinePage/pmr.webp') }}" alt="pmr" />
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>
        {#-----------------cadre---------------#}
        <h2 class="mt-2 mx-5 d-flex text-center">
            {{ 'magazine.pmr.pmr.title' | trans }}
        </h2>
        <div class="d-flex justify-content-center">
            <hr class="separator" />
        </div>


        {# -------scroll--------- #}
        <div class="scrolling-wrapper">
            <div class="card">
          {#   <img src="{{ asset('img/magazinePage/pmr.webp') }}" alt="pmr" class="backgroundImage" /> #}
                <h3>{{ 'magazine.pmr.pmr.title1' | trans }}</h3>
                    <section>
                    <p>{{ 'magazine.pmr.pmr.text11' | trans }}</p>
                    </section>
            </div>
            <div class="card">
                <h3>{{ 'magazine.pmr.pmr.title2' | trans }}</h3>
                    <section>
                    <p>{{ 'magazine.pmr.pmr.text21' | trans }}</p>
                    </section>
            </div>
        </div>

            {# ---------------cadre presentation--------------
            <div class="p-3 mx-3">
                <div class="container-fluid">
                    <div class="row my-2 mx-1 justify-content-around">

                    {#-----------------pmr---------------
                         <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                   class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/pmr.webp') }}"
                                    alt="pmr accessible accessibilité"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">{{ 'magazine.pmr.pmr.title1' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.pmr.pmr.text11' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                    {#-----------------grand volume---------------
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/salon01.webp') }}"
                                    alt="grand volume"
                            ></img>
                            <div class="volume espace">
                                <h3 class="card-title">{{ 'magazine.pmr.pmr.title2' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.pmr.pmr.text21' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

                    {#-----------------Hébergement Familial ---------------
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/chambre01-1.webp') }}"
                                    alt="famille familial"
                            ></img>
                            <div class="hebergement famille">
                                <h3 class="card-title">{{ 'magazine.pmr.pmr.title3' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.pmr.pmr.text31' | trans }}
                                </p>
                            </div>
                        </div>
                        </div>

{#                  {/*-----------------Situation Idéale---------------*/}
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/crespian.webp') }}"
                                    alt="gard crespian"
                            ></img>
                            <div class="crespian gard">
                                <h3 class="card-title">{{ 'magazine.pmr.pmr.title4' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.pmr.pmr.text41' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>

{#                  {/*-----------------Services Personnalisés ---------------*/}
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                        <div class="card px-2" style="width: 100%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/prestations.webp') }}"
                                    alt="prestations services"
                            ></img>
                            <div class="card-body">
                                <h3 class="card-title">{{ 'magazine.pmr.pmr.title5' | trans }}</h3>
                                <article>
                                <p class="card-text">
                                    {{ 'magazine.pmr.pmr.text51' | trans }}
                                </p>
                                </article>
                            </div>
                        </div>
                        </div>
                    {#-----------------fin bloc---------------
                     </div>
                     </div>
                     </div> 
                {#-----------------fin---------------#}
                {# <article>
                        <b class="d-flex justify-content-center text-center pb-2">
                            {{ 'magazine.pmr.pmr.textbottom' | trans }}
                        </b>
                   
                        <div class="d-flex justify-content-center my-2">
                            {{ include('reservation/boutonReservation.twig') }}
                        </div>
                </article> #}

    </main>
{% endblock %}