{% extends 'base.html.twig' %}

{% block title %}pmr{% endblock %}

{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/magazinePage/pmr.webp') }}" alt="pmr" class="backgroundImage" />
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>
        {#-----------------cadre---------------#}
                <h2 class="mt-2 mx-5 d-flex text-center">
                    Découvrez notre Gîte Spacieux et Accessible aux Personnes à Mobilité
                    Réduite (PMR) dans le Gard entre Nîmes, Alès et Montpellier
                </h2>
                <div class="d-flex justify-content-center">
                    <hr class="separator" />
                </div>
            {#---------------cadre presentation--------------#}
            <div class="p-3 mx-3">
                <div class="container-fluid py-2">
                    <div class="row my-2 mx-1 justify-content-around">

                    {#-----------------pmr---------------#}
                        <div class="card" style="width: 18%;">
                            <img
                                   class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/pmr.webp') }}"
                                    alt="pmr accessible accessibilité"
                            ></img>
                            <div class="pmr gite">
                                <h3 class="card-title">Accessibilité PMR </h3>
                                <article>
                                <p class="card-text">
                                    Notre gîte est spécialement conçu pour accueillir les
                                    personnes à mobilité réduite, avec des aménagements adaptés
                                    pour faciliter leur séjour et leur circulation.
                                </p>
                                </article>
                            </div>
                        </div>

                    {#-----------------grand volume---------------#}
                        <div class="card" style="width: 18%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/salon01.webp') }}"
                                    alt="grand volume"
                            ></img>
                            <div class="volume espace">
                                <h3 class="card-title">De Grand Volume </h3>
                                <article>
                                <p class="card-text">
                                    Profitez de vastes espaces intérieurs et extérieurs, offrant
                                    confort et liberté pour toute la famille, y compris les
                                    personnes en fauteuil roulant.
                                </p>
                                </article>
                            </div>
                        </div>

                    {#-----------------Hébergement Familial ---------------#}
                        <div class="card" style="width: 18%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/chambre01-1.webp') }}"
                                    alt="famille familial"
                            ></img>
                            <div class="hebergement famille">
                                <h3 class="card-title">Hébergement Familial </h3>
                                <article>
                                <p class="card-text">
                                    Avec plusieurs chambres et équipements adaptés, notre gîte
                                    est parfait pour des vacances en famille, permettant à tous
                                    de partager des moments inoubliables ensemble.
                                </p>
                            </div>
                        </div>

{#                  {/*-----------------Situation Idéale---------------*/}#}
                        <div class="card" style="width: 18%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/crespian.webp') }}"
                                    alt="gard crespian"
                            ></img>
                            <div class="crespian gard">
                                <h3 class="card-title">Situation Idéale</h3>
                                <article>
                                <p class="card-text">
                                    Niché dans le charmant village de Crespian, notre gîte
                                    bénéficie d'un cadre paisible et naturel, tout en étant à
                                    proximité des attractions touristiques et des commodités de
                                    Quissac(11km).
                                </p>
                                </article>
                            </div>
                        </div>

{#                  {/*-----------------Services Personnalisés ---------------*/}#}
                        <div class="card" style="width: 18%;">
                            <img
                                    class="card-img-top my-2 rounded"
                                    src="{{ asset('img/magazinePage/pmr/prestations.webp') }}"
                                    alt="prestations services"
                            ></img>
                            <div class="card-body">
                                <h3 class="card-title">Services Personnalisés </h3>
                                <article>
                                <p class="card-text">
                                    Notre équipe ainsi que des prestataires de services dévouées
                                    sont à votre disposition pour répondre à tous vos besoins et
                                    rendre votre séjour aussi agréable que possible.
                                </p>
                                </article>
                            </div>
                        </div>
                    {#-----------------fin bloc---------------#}
                     </div>
                     </div>
                     </div>
                {#-----------------fin---------------#}
                <article>
                        <b class="d-flex justify-content-center text-center pb-2">
                              Réservez des maintenant et offrez-vous des vacances accessibles pour tous
                            et familiales inoubliables dans le Gard !
                        </b>
                   
                        <div class="d-flex justify-content-center my-2">
                            {{ include('reservation/boutonReservation.twig') }}
                        </div>
                </article>

    </main>
{% endblock %}