{% extends 'base.html.twig' %}

{% block title %}{{ 'prestations.title' | trans }}{% endblock %}

{% block head %} 
<meta name="description" content="Découvrez nos prestations variées pour un séjour inoubliable : hostellerie confortable, dégustations régionales, massages relaxants, chef à domicile et découvertes touristiques. Profitez d'une expérience unique et personnalisée avec nous.">
<meta name="keywords" content="letoilededan, etoile, dan, gite, gîte, gard, france, caractère, jacouzi, piscine, chef à domicile, massage, découverte touristique, produits locaux, 
    famillial, détente, nature, convivial, atypique, charmant, calme, PMR, handicap" />
{% endblock %}


{% block body %}
    <main>
        <div class="backgroundImageContainer">
            <img src="{{ asset('img/prestationsPage/prestations.png') }}" alt="massage" class="backgroundImage"/>
            <div class="buttonContainer">
                {{ include('reservation/boutonReservation.twig') }}
            </div>
        </div>

        <h2 class="mt-2">{{ 'prestations.prestations' | trans }}</h2>
        <div class="d-flex justify-content-center">
            <hr class="separator"/>
        </div>

        {#        {/*------------------Presentation----------------*/} #}
        <section>
            <div class=" mx-4">
                <p class="align-items-center text-center ">
                    {{ 'prestations.text1' | trans }}
                </p>
                <p class="align-items-center text-center">
                   {{ 'prestations.text2' | trans }}
                </p>
                <p class="align-items-center text-center">
                    {{ 'prestations.text3' | trans }}
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <hr class="separator"/>
            </div>

            {#            {/*------------------Presentation----------------*/} #}
            <div class="container-fluid">
                <div class="row my-2 mx-1 justify-content-around ">
                    {#                    {/*---------------hostellerie---------------*/} #}
                    <article class="cadre col-md-2 mb-2">
                        <div class="d-flex justify-content-center">
                            <img
                                    src="{{ asset('img/prestationsPage/prestations2.png') }}"
                                    alt="hostellerie"
                                    class="presta-img"
                            />
                        </div>
                        <div>
                            <h3 class="text-center">
                                {{ 'prestations.hostelry.title' | trans }}
                                <i class="bi bi-bed"></i>
                            </h3>
                            <p class="m-2">
                                {{ 'prestations.hostelry.text1' | trans }}
                            </p>
                            <p class="text-primary">{{ 'prestations.hostelry.link' | trans }}</p>
                        </div>
                    </article>


                    {#                    {/*---------------découverte touristique---------------*/} #}
                    <article class="cadre col-md-2 mb-2">
                        <div class="d-flex justify-content-center">
                            <img
                                    src="{{ asset('img/prestationsPage/prestations5.png') }}"
                                    alt="tourisme"
                                    class="presta-img"
                            />
                        </div>
                        <div>
                            <h3 class="text-center">
                                {{ 'prestations.discovery.title' | trans }}
                               <i class="bi bi-compass"></i>
                            </h3>
                            <p class="m-2">
                                {{ 'prestations.discovery.text1' | trans }}
                            </p>
                              <p class="text-primary">{{ 'prestations.discovery.link' | trans }}</p>
                        </div>
                    </article>

                    {#                    {/*---------------degustation---------------*/} #}
                    <article class="cadre col-md-2 mb-2">
                        <div class="d-flex justify-content-center">
                            <img
                                    src="{{ asset('img/prestationsPage/prestations1.png') }}"
                                    alt="degustation"
                                    class="presta-img"
                            />
                        </div>
                        <div>
                            <h3 class="text-center">
                                Degustation
                                <i class="bi bi-wine-bottle"></i>

                            </h3>
                            <p class="m-2">
                                Sous la direction du service de dégustation de Florence
                                DELMAS (Degustez Sud), laissez vos papilles voyager à travers une explosion
                                de saveurs. Elle vous fera découvrir le meilleur de la
                                viticulture et des spécialités culinaires régionales, en
                                mettant en valeur les produits locaux frais et de saison. De
                                la première bouchée au dernier verre, chaque moment sera une
                                célébration épicurienne de la gastronomie.
                            </p>
                            <a href="http://degustezsud.com">Degustez Sud</a>
                        </div>
                    </article>

                    {#                    {/*---------------Massage---------------*/} #}
                    <article class="cadre col-md-2 mb-2">
                        <div class="d-flex justify-content-center">
                            <img src="{{ asset('img/prestationsPage/prestations3.png') }}" alt="massage" class="presta-img"/>
                        </div>
                        <div>
                            <h3 class="text-center">
                                Massage
                                <i class="bi bi-spa"></i>
                            </h3>
                            <p class="m-2">
                                A 5 minutes à pied du gîte, ressourcez-vous en vous offrant
                                un moment de détente et de bien-être absolu grâce au spa
                                privatif, au sauna et aux massages proposés par OC’TAO. Vous
                                y découvrirez un havre de paix où vous pourrez vous
                                abandonner à leurs mains expertes pour soulager le stress et
                                les tensions. Laissez-vous envelopper par des techniques de
                                massage apaisantes qui vous laisseront revitalisé et
                                régénéré.
                            </p>
                             <a href="https://octao.fr/bienvenue/">OC'Tao</a>
                        </div>
                    </article>

{#                    {/*---------------Chef à domicile---------------*/}#}
                    <article class="cadre col-md-2 mb-2">
                        <div class="d-flex justify-content-center">
                            <img src="{{ asset('img/prestationsPage/prestations4.png') }}" alt="chef" class="presta-img"/>
                        </div>
                        <div>
                            <h3 class="text-center">
                                Chef à Domicile
                                <i class="bi bi-hat-chef"></i>
                            </h3>
                            <p class="m-2">
                                Avec takeachef et l’un de ses 78 chefs à domicile,
                                personnalisez votre menu pour transformer votre séjour en
                                une expérience gastronomique inoubliable. Ces chefs
                                professionnels viendront directement dans votre logement
                                pour préparer des repas sur mesure, adaptés à vos goûts et
                                préférences. Que ce soit pour une occasion spéciale ou
                                simplement pour savourer un dîner exclusif dans le confort
                                de votre chez-vous, vivez une expérience culinaire
                                exceptionnelle !
                            </p>
                             <a href="https://www.takeachef.com/fr-fr">Take A Chef</a>
                        </div>
                    </article>


                    {#                    {/*---------------fin---------------*/} #}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
